/* Flex Sizing Properties

    flex-basis
        Defines the initial size of an element before the additional space is distributed

    flex-grow
        controls the amount of available space an element should take up. Accepts a unitless number value

    flex-shrink
        if items are larger than the container, they shrink according to flex-shrink
*/

body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    text-align: center;
}

#container {
    background-color: #003049;
    width: 90%;
    /* height: 500px; */
    margin: 0 auto;
    border: 5px solid #003049;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

#container div {
    width: 75px;
    height: 75px;
    max-width: 200px; /* add this to keep the flex-grow from making elements bigger than you want them to go */
    flex-basis: 100px; /* width that will be used when the elements are in a row. this is dependant on the MAIN AXIS (i.e. normally width would be the horizontal direction, but if the main axis changes, width won't change with it; flex-basis will*/
    flex-grow: 1;
}

/* div:nth-of-type(1) {
    flex-grow: 1; /* grows the element to take up all of the available space. if multiple elements have this, they will share the space. if this was applied to the container instead, all elements would share the available space 
} */

/* div:nth-of-type(5) {
    flex-grow: 1; /* with flex-wrap on, the final div will take up the entire space of the next line (until the next element gets wrapped etc ) 
} */